@media screen and (max-width: 1024px) {
	.navbar-default .navbar-nav>li>a{
		font-size: 12px;
	}

	.slide-text>h1{
		font-size: 30px;
	}
	
	.about-us{
		.about-us__desc-first{
			.title{
				font-size: 25px;
			}
		}

		.about-us__our-team{
			.team-info{
				.title{
					font-size: 1.5em;
				}
			}

			.list-team{
				.box-user{
					.box-info{
						.name{
							font-size: 14px;
						}

						.position{
							font-size: 13px;
						}
					}
				}
			}
		}
	}

	.video-profile{
		.video-profile__title{
			font-size: 25px;
		}
	}

	.intermezo{
		.intermezo__title{
			font-size: 20px;
		}
	}

	footer{
		.footer__list{
			.title{
				font-size: 16px;
			}
		}
	}

	.sub-header{
		.sub-header__content{
			.title{
				font-size: 3em;
			}
		}
	}

	.registration{
		.wizard-header{
			.wizard-title{
				font-size: 25px;
			}
		}

		.stepTitle{
			font-size: 12px;
		}
	}

	.bop-detail{
		.panel-default{
			.panel-heading{
				.bop-detail__title-head{
					font-size: 1.5em;
				}
			}
		}
	}
}