@media screen and (max-width: 950px) {
	.navbar-default{
		.navbar-brand{
			img {
				margin-top: -10px;
				width: 80px;
			}
		}

		.navbar-nav>li>a {
		  font-size: 11px;
		  padding: 14px 10px;
		}
	}
}