@media screen and (max-width: 450px) {
	.registration{
		.wizard-header{
			.wizard-title {
			  font-size: 17px;
			  letter-spacing: 3px;
			}
		}
	}

	.bop-schedule{
		.bop-schedule__list{
			a{
				&.title{
					font-size: 14px;
				}
			}

			.box-info{
				.time,
				.location{
					font-size: 10px;
				}
			}

			.speaker{
				font-size: 10px;
			}
		}
	}

	.bop-detail{
		margin-top: -15em;

		.panel-default{
			.panel-heading{
				.bop-detail__title-head {
				  font-size: 1.1em;
				}

				.bop-detail__speaker{
					font-size: 0.9em;
				}
			}

			.panel-body{
				.bop-detail__aside-top{
					.title,
					.condition {
					  font-size: 1em;
					}
				}

				.bop-detail__title-content{
					span{
						font-size: 1em;
					}
				}

				.bop-detail__content{
					p{
						font-size: 12px;
					}
				}

				.bop-detail__contact-person{
					.contact-person-lists {
					  float: left;
					  width: 100%;
					  border-right: 0px;
					  text-align: center;
					  margin-bottom: 3em;
					  padding-bottom: 30px;
					  border-bottom: 1px solid #F5F5F5;

					  .name{
					  	font-size: 15px;
					  }

					  .phone{
					  	font-size: 14px;
					  }

					  &:last-child{
					  	border-bottom: 0;
					  	padding-bottom: 0;
					  }
					}
				}
			}
		}
	}

	.registration .vue-form-wizard .wizard-card-footer button {
	  font-size: 10px;
	}
}