@media screen and (max-width: 767px){
	.navbar--no-color{
		background: #FFF;
	}

	.navbar-default{
		.navbar-nav>li>a {
			font-size: 14px;
      color: #FFFFFF;
    }

    .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
			color: #FFFFFF;
			background-color: transparent;
		}

		.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
      color: #fff;
    }
	}
}